.recipe-container {
    
    color: black;
    text-align: left;
    margin: auto 0;
    justify-content: space-around;
    box-sizing: border-box;
    min-width: 600px;
}
.input-container {
    display: flex;
    flex-direction: column;    
    padding: 0 1em;
    justify-content: center;
}

.error-message {
    color: red;
    text-align: right;
    font-size: small;
}



.recipe-container button {
     padding: 0.7em;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    background: #FF5678;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: none;
    transition: transform 0.1s ease;
    
    margin-top: auto;
    margin-bottom: 0;
    

}


.recipe-container input {
    all: unset;
    background-color: #D5D5D5;
    border-radius: 5px;
    font-size: 0.5em;
    padding: 0.7em;
    margin-bottom: 1em;
}
.recipe-container textarea {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    border: none;
    outline: none;
    background-color: #D5D5D5;
    border-radius: 5px;
    margin-bottom: 1em;

}


.recipe-container textarea {
    resize: none;
    height: 100px;
}

.recipe-container textarea:focus,
.recipe-container input:focus {
    border: 1px solid #FF5678;
    
}
    
.recipe-container select { 
    padding: 1em;
    margin-bottom: 2em;
    display: table-row;
}

    .recipe-container button:hover {
        transform: scale(1.04)
    }
